{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <main class="main-content">
        <!--== Start Page Title Area ==-->
        <section class="page-title-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 m-auto">
                        <div class="page-title-content text-center">
                            <h2 class="title">{% trans 'Checkout' %}</h2>
                            <div class="bread-crumbs"><a href="index.html"><i class="las la-home"></i></a><span
                                    class="breadcrumb-sep"><i
                                    class="las la-angle-right"></i></span><span>{% trans 'Checkout' %}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--== Start Page Title Area ==-->

        <!--== Start Checkout Area Wrapper ==-->
        <section class="product-area shop-checkout-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center mb-40 mb-md-20">
                            <h5 class="title">{% trans 'Checkout' %}</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="checkout-coupon-wrap mb-65 mb-md-40">
                            <p class="cart-page-title"><i class="ion-ios-pricetag-outline"></i> {% trans 'Have a coupon?' %} <a
                                    class="checkout-coupon-active" href="#/">{% trans 'Click here to enter your code' %}</a></p>
                            <div class="checkout-coupon-content">
                                <form action="#">
                                    <p>{% trans 'If you have a coupon code, please apply it below.' %}</p>
                                    <input type="text" placeholder="{% trans 'Coupon code' %}">
                                    <button type="submit">{% trans 'Apply coupon' %}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="billing-info-wrap">
                            <h3>{% trans 'Billing Details' %}</h3>
                            <div class="row">
                                <div class="col-12">
                                    <div class="billing-info mb-20">
                                        <label>{% trans 'First name' %} <abbr class="required" title="required">*</abbr></label>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="billing-info mb-20">
                                        <label>{% trans 'Last name' %} <abbr class="required" title="required">*</abbr></label>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="billing-info mb-20">
                                        <label>{% trans 'Company name (optional)' %} <abbr class="required" title="required">*</abbr></label>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="billing-select mb-20">
                                        <label>{% trans 'Country / Region' %} <abbr class="required" title="required">*</abbr></label>
                                        <div class="select-style">
                                            <select class="select-active">
                                                <option>{% trans 'Bangladesh' %}</option>
                                                <option>{% trans 'Bahrain' %}</option>
                                                <option>{% trans 'Azerbaijan' %}</option>
                                                <option>{% trans 'Barbados' %}</option>
                                                <option>{% trans 'Barbados' %}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="billing-info mb-20">
                                        <label>{% trans 'Street Address' %} <abbr class="required" title="required">*</abbr></label>
                                        <input class="billing-address" placeholder="{% trans 'House number and street name' %}"
                                               type="text">
                                        <input placeholder="{% trans 'Apartment, suite, unit, etc. (optional)' %}" type="text">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="billing-info mb-20">
                                        <label>{% trans 'Town / City' %} <abbr class="required" title="required">*</abbr></label>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="billing-select mb-20">
                                        <label>{% trans 'District' %} <abbr class="required" title="required">*</abbr></label>
                                        <div class="select-style">
                                            <select class="select-active">
                                                <option>{% trans 'Select an option…' %}</option>
                                                <option>{% trans 'Barguna' %}</option>
                                                <option>{% trans 'Bandarban' %}</option>
                                                <option>{% trans 'Barbados' %}</option>
                                                <option>{% trans 'Barbados' %}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="billing-info mb-20">
                                        <label>{% trans 'Postcode / ZIP (optional)' %} <abbr class="required"
                                                                               title="required">*</abbr></label>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="billing-info mb-20">
                                        <label>{% trans 'Phone' %} <abbr class="required" title="required">*</abbr></label>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="billing-info mb-20">
                                        <label>{% trans 'Email Address' %} <abbr class="required" title="required">*</abbr></label>
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="checkout-account">
                                <input class="checkout-toggle" type="checkbox">
                                <span>{% trans 'Ship to a different address?' %}</span>
                            </div>
                            <div class="different-address open-toggle mt-30">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="billing-info mb-20">
                                            <label>{% trans 'First name' %} <abbr class="required" title="required">*</abbr></label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="billing-info mb-20">
                                            <label>{% trans 'Last name' %} <abbr class="required" title="required">*</abbr></label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="billing-info mb-20">
                                            <label>{% trans 'Company name (optional)' %} <abbr class="required"
                                                                                 title="required">*</abbr></label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="billing-select mb-20">
                                            <label>{% trans 'Country / Region' %} <abbr class="required"
                                                                          title="required">*</abbr></label>
                                            <div class="select-style">
                                                <select class="select-active">
                                                    <option>{% trans 'Bangladesh' %}</option>
                                                    <option>{% trans 'Bahrain' %}</option>
                                                    <option>{% trans 'Azerbaijan' %}</option>
                                                    <option>{% trans 'Barbados' %}</option>
                                                    <option>{% trans 'Barbados' %}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="billing-info mb-20">
                                            <label>{% trans 'Street Address' %} <abbr class="required"
                                                                        title="required">*</abbr></label>
                                            <input class="billing-address" placeholder="{% trans 'House number and street name' %}"
                                                   type="text">
                                            <input placeholder="{% trans 'Apartment, suite, unit, etc. (optional)' %}" type="text">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="billing-info mb-20">
                                            <label>{% trans 'Town / City' %} <abbr class="required" title="required">*</abbr></label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="billing-select mb-20">
                                            <label>{% trans 'District' %} <abbr class="required" title="required">*</abbr></label>
                                            <div class="select-style">
                                                <select class="select-active">
                                                    <option>{% trans 'Select an option…' %}</option>
                                                    <option>{% trans 'Barguna' %}</option>
                                                    <option>{% trans 'Bandarban' %}</option>
                                                    <option>{% trans 'Barbados' %}</option>
                                                    <option>{% trans 'Barbados' %}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="billing-info mb-20">
                                            <label>{% trans 'Postcode / ZIP (optional)' %} <abbr class="required"
                                                                                   title="required">*</abbr></label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="billing-info mb-20">
                                            <label>{% trans 'Phone' %} <abbr class="required" title="required">*</abbr></label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="billing-info mb-20">
                                            <label>{% trans 'Email Address' %} <abbr class="required"
                                                                       title="required">*</abbr></label>
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="additional-info-wrap">
                                <label>{% trans 'Order notes (optional)' %}</label>
                                <textarea placeholder="{% trans 'Notes about your order, e.g. special notes for delivery.' %} "
                                          name="message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="your-order-area mt-md-70">
                            <h3>{% trans 'Your order' %}</h3>
                            <div class="your-order-wrap">
                                <div class="your-order-info-wrap">
                                    <div class="your-order-title">
                                        <h4>{% trans 'Product' %} <span>{% trans 'Subtotal' %}</span></h4>
                                    </div>
                                    <div class="your-order-product">
                                        <ul>
                                            <li>{% trans 'Brother Hoodies in Grey × 4' %} <span>$140.00 </span></li>
                                            <li>{% trans 'Enjoy The Rest T-Shirt × 1' %} <span>$39.59 </span></li>
                                        </ul>
                                    </div>
                                    <div class="your-order-subtotal">
                                        <h3>{% trans 'Subtotal' %} <span>$617.59</span></h3>
                                    </div>
                                    <div class="your-order-shipping">
                                        <span>{% trans 'Shipping' %}</span>
                                        <ul>
                                            <li><input type="radio" name="shipping" value="info"
                                                       checked="checked"><label>{% trans 'Free shipping' %}</label></li>
                                            <li><input type="radio" name="shipping" value="info"
                                                       checked="checked"><label>{% trans 'Flat rate:' %} <span>$100.00</span></label>
                                            </li>
                                            <li><input type="radio" name="shipping" value="info"
                                                       checked="checked"><label>{% trans 'Local pickup:' %}
                                                <span>$120.00</span></label></li>
                                        </ul>
                                    </div>
                                    <div class="your-order-total">
                                        <h3>{% trans 'Total'%} <span>$617.59 </span></h3>
                                    </div>
                                </div>
                                <div class="payment-method">
                                    <div class="pay-top sin-payment">
                                        <input id="payment_method_1" class="input-radio" type="radio" value="cheque"
                                               checked="checked" name="payment_method">
                                        <label for="payment_method_1"> Direct Bank Transfer </label>
                                        <div class="payment-box payment_method_bacs">
                                            <p>{% trans 'Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the have cleared in our account.' %}</p>
                                        </div>
                                    </div>
                                    <div class="pay-top sin-payment">
                                        <input id="payment-method-2" class="input-radio" type="radio" value="cheque"
                                               name="payment_method">
                                        <label for="payment-method-2">{% trans 'Check payments' %}</label>
                                        <div class="payment-box payment_method_bacs">
                                            <p>{% trans 'Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.' %}</p>
                                        </div>
                                    </div>
                                    <div class="pay-top sin-payment">
                                        <input id="payment-method-3" class="input-radio" type="radio" value="cheque"
                                               name="payment_method">
                                        <label for="payment-method-3">{% trans 'Cash on delivery' %} </label>
                                        <div class="payment-box payment_method_bacs">
                                            <p>{% trans 'Pay with cash upon delivery.'%} </p>
                                        </div>
                                    </div>
                                    <div class="pay-top sin-payment sin-payment-3">
                                        <input id="payment-method-4" class="input-radio" type="radio" value="cheque"
                                               name="payment_method">
                                        <label for="payment-method-4">{% trans 'PayPal' %} <img alt=""
                                                                                  src="{% static '' %}assets/img/icons/payment-3.webp"
                                                                                  width="35" height="32"><a href="#">{% trans 'Whatis PayPal?' %}</a></label>
                                        <div class="payment-box payment_method_bacs">
                                            <p>{% trans 'Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.' %}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="payment-condition mb-1">
                                    <p>{% trans 'Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our' %} <a href="#">{% trans 'privacy policy' %}</a>.</p>
                                </div>
                            </div>
                            <div class="place-order">
                                <a href="#/">{% trans 'Place Order' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--== End Checkout Area Wrapper ==-->
    </main>

{% endblock %}